<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>JspTestingController</servlet-name>
  	<display-name>JspTestingController</display-name>
  	<description></description>
  	<servlet-class>quynh.training.servlet_jsp.controller.JspTestingController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JspTestingController</servlet-name>
  	<url-pattern>/jsp-testing/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>JspInit</servlet-name>
  	<display-name>JspInit</display-name>
  	<description></description>
  	<jsp-file>/jsp-init.jsp</jsp-file>
  	<init-param>
  		<param-name>Author</param-name>
  		<param-value>Quynh Phung</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JspInit</servlet-name>
  	<url-pattern>/jsp-testing-init</url-pattern>
  </servlet-mapping>
  
</web-app>
